input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

*, *::after, *::before {
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
	cursor: default;
}

.table>tbody>tr>td,
.table>tbody>tr>th {
    border-top: none;
}

#disabled-filter-slider .slider-handle {
    display: none;
}

.grey {
    color:#808080;
}

.mono-text {
    font-variant-numeric: tabular-nums;
}

input {
    font-variant-numeric: tabular-nums;
}

span {
    font-variant-numeric: tabular-nums;
}
