@font-face {
    font-family: 'Ubuntu';
    src: url('./resources/ubuntu.mono.ttf');
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

*, *::after, *::before {
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
	cursor: default;
}

.table>tbody>tr>td,
.table>tbody>tr>th {
    border-color: transparent;
    border-top: none;
}

#disabled-filter-slider .slider-handle {
    display: none;
}

.grey {
    color: #D3D3D3;
}

.mono-text {
    font-family: 'Ubuntu';
    font-size: 27px;
}

input {
    font-variant-numeric: tabular-nums;
}

.groupBorder {
    border: #cdcdcd thin solid;
    padding: 5px;
}

.leftElement {
    margin-left: 16px;
}

.rightElement {
    margin-right: 16px;
    text-align: right;
}

.greyStart {
    display: inline-block;
}

.form-select-sm {
    height: 25px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10pt;
}

canvas {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.wider-col {
    height: 182px;
    width: 89.55%;
}

.button-icon {
    width: 13px;
    height: 13px;
    vertical-align: initial;
}
