input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.table>tbody>tr>td,
.table>tbody>tr>th {
  border-top: none;
}

body {
  background: #FFFFFF;
}

.slider-selection {
  position: absolute;
  background-image: -webkit-linear-gradient(top, #F5F5F5 0%, #F9F9F9 100%);
  background-image: -o-linear-gradient(top, #F5F5F5 0%, #F9F9F9 100%);
  background-image: linear-gradient(to bottom, #F5F5F5 0%, #F9F9F9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
  background-repeat: repeat-x;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
}

#low-pass-filter-slider .slider-selection {
  background: rgb(173, 189, 241);
}

#high-pass-filter-slider .slider-track {
  background: rgb(173, 189, 241);
}

#band-pass-filter-slider .slider-selection {
  background: rgb(173, 189, 241);
}

#amplitude-thresholding-slider .slider-selection {
  background: rgb(173, 189, 241);
}
