body {
  background: #FFFFFF;
}

.slider-selection {
  background: rgb(173, 189, 241);
}

input {
  border: thin solid #cfcfcf;
}

.tooltip .tooltip-inner {
  max-width: none;
  white-space: pre-wrap;
  text-align: left;
}