.table>tbody>tr>td,
.table>tbody>tr>th {
  background: #000000;
  color: #FFFFFF;
}

body {
  background: #000000;
  color: #FFFFFF;
}

input {
  background: #000000;
  color: #FFFFFF;
  border: thin solid #FFFFFF;
}

select {
  background: #000000;
  color: #FFFFFF;
}

.info-display-input {
  background-color: #000000;
}

#time-canvas {
  border: #FFFFFF;
}

.slider-horizontal .slider-selection {
  background: rgb(64, 100, 216);
}

.grey {
  color: #808080;
}
