input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

*, *::after, *::before {
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
	cursor: default;
}

.table>tbody>tr>td,
.table>tbody>tr>th {
  border-top: none;
  color: #FFFFFF;
}

body {
  background: #000000;
  color: #FFFFFF;
}

input {
  background: #000000;
  color: #FFFFFF;
}

select {
  background: #000000;
  color: #FFFFFF;
}

.info-display-input {
  background-color: #000000;
}

#time-canvas {
  border: #FFFFFF;
}

#low-pass-filter-slider .slider-selection {
  background: rgb(64, 100, 216);
}

#high-pass-filter-slider .slider-track {
  background: rgb(64, 100, 216);
}

#band-pass-filter-slider .slider-selection {
  background: rgb(64, 100, 216);
}

#amplitude-threshold-slider .slider-track {
  background: rgb(64, 100, 216);
}

#goertzel-threshold-slider .slider-track {
  background: rgb(64, 100, 216);
}

.grey {
  color:#808080;
}